---
import { Image } from 'astro:assets';
import { iconLinks } from './Social';
import Icon from './Icon.astro';
import localAustraliaFlag from '../images/australia_flag.svg';
import localAboriginalFlag from '../images/australia_aboriginal_flag.svg';

const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>
			Crafted with <a href="https://astro.build/">Astro</a>
			<Icon icon="rocket-launch" size="1.2em" /> framework
			in Australia 
		</p>
		<div class="flags">
			<Image src={localAustraliaFlag} alt="Flag of Australia." height={20} />
			<Image src={localAboriginalFlag} alt="Aboriginal flag of Australia." height={20} />
		</div>
		<p>&copy; {currentYear} Lucas Mancini</p>
	</div>
	<p class="socials">
		{
			iconLinks.map(({ href, label }) => (
				<a href={href} target="_blank" rel="noopener noreferrer"> {label}</a>
			))
		}
	</p>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		align-items: center;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	.flags {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.2rem;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 5rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
			align-items: center;
		}

		.socials {
			justify-content: flex-end;
		}
	}
</style>
